@import './variables.scss';

.gra-section-1 {
    height: 800px;
    background-image: url(../images/guara-colab/banner.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding: 120px 0 0;
    margin-bottom: 77px;
    
    &__title {
        max-width: 660px;
        font-size: 50px;
        line-height: 1;
        font-weight: 600;
        color: #fff;
        @media (max-width: $container-md - 1) {
            font-size: 30px;
            br {
                display: none;
            }
        }
        span {
            color: $secondary;
        }
    }
    &__subtitle {
        max-width: 660px;
        font-size: 24px;
        line-height: 1.4;
        margin-top: 24px;
        font-weight: 500;
        color: #fff;
        @media (max-width: $container-md - 1) {
            margin-top: 16px;
            font-size: 20px;
        }
    }
    .gra-btn-link {
        margin-top: 49px;
        @media (max-width: $container-md - 1) {
            margin-top: 16px;
        }
    }

    @media (max-width: $container-md - 1) {
        height: auto;
        padding: 32px 0;
        background-position: center, center right -520px;
        margin-bottom: 16px;
        background-image: linear-gradient(to right,rgba(0,0,0,.9), rgba(0,0,0,.6)), url(../images/guara-colab/banner.png);
        background-repeat: repeat, no-repeat;
    }
}

.gra-section-2 {
    &__painel {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        @media (max-width: $container-md - 1) {
            max-width: 570px;
            border-radius: 16px;
            margin: 0 auto;
            padding: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
        }
    }
    &__left {
        max-width: 580px;
        &-title {
            font-size: 40px;
            font-weight: 500;
            line-height: 1.125;
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 5px;
                margin-top: 30px;
                border-radius: 10px;
                background-color: $primary;
                @media (max-width: $container-md - 1) {
                    margin-top: 16px;
                }
            }
            @media (max-width: $container-md - 1) {
                font-size: 30px;
            }
        }
        &-text {
            margin-top: 30px;
            font-size: 20px;
            line-height: 1.5;
            @media (max-width: $container-md - 1) {
                margin-top: 16px;
                font-size: 16px;
            }
        }
        .gra-btn-link {
            margin-top: 39px;
            @media (max-width: $container-md - 1) {
                margin-top: 12px;
                margin-bottom: 24px;
            }
        }
    }
    &__right {
        max-width: 578px;
        padding: 48px;
        border-radius: 50px;
        background-color: $primary;
        color: #fff;
        @media (max-width: $container-md - 1) {
            padding: 24px;
            border-radius: 24px;
        }
        &-title {
            margin-bottom: 35px;
            font-size: 30px;
            line-height: 1.2;
            font-weight: 500;
            @media (max-width: $container-md - 1) {
                font-size: 24px;
                margin-bottom: 16px;
            }
        }
        &-list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            font-size: 18px;
            line-height: 1;
            font-weight: 500;
            color: #fff;

            @media (max-width: $container-md - 1) {
                gap: 20px;
                font-size: 20px;
            }
        }
        &-number {
            width: 60px;
            height: 60px;
            flex-shrink: 0;
            border-radius: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            line-height: 1;
        }
        &-item {
            display: flex;
            align-items: center;
            gap: 20px;
            &:nth-child(1) {
                .gra-section-2__right-number {
                    color: $primary;
                    background-color: $secondary;

                }
            }
            &:nth-child(2) {
                .gra-section-2__right-number {
                    color: $primary-dk-1;
                    background-color: #fff;

                }
            }
            &:nth-child(3) {
                .gra-section-2__right-number {
                    color: $primary;
                    background-color: $secondary;
                }
            }
        }
    }
}

.gra-section-3 {
    padding-bottom: 90px;
    color: $primary-dk-1;
    @media (max-width: $container-md - 1) {
        padding-bottom: 24px;
    }
    &__title {
        margin-bottom: 40px;
        font-size: 40px;
        line-height: 1.125;
        @media (max-width: $container-md - 1) {
            font-size: 24px;
            margin-bottom: 16px;
        }
    }
    &__subtitle {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 40px;
        @media (max-width: $container-md - 1) {
            margin-bottom: 20px;
        }
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        @media (max-width: $container-md - 1) {
            gap: 10px;
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        padding: 50px;
        border-radius: 50px;
        gap: 30px;
        font-size: 21px;
        line-height: 1.25;
        @media (max-width: $container-md - 1) {
            gap: 16px;
            border-radius: 24px;
            padding: 24px;
            font-size: 16px;
        }
        &.yellow {
            flex: 1;
            background-color: $secondary;
            .gra-section-3__icon {
                background-color: $primary-dk-1;
            }
        }
        &.green {
            flex: 1;

            background-color: $primary;
            color: #fff;
            .gra-section-3__icon {
                background-color: $secondary;
            }
        }
        &.green-dk {
            align-items: center;
            flex-direction: row;
            flex-basis: 100%;
            font-size: 30px;
            line-height: 1.33;
            background-color: darken($primary, 5%);
            color: #fff;
            background-image: url(../images/guara-colab/bg-colaboradores.png);
            background-repeat: no-repeat;
            background-position: top right;
            .gra-section-3__icon {  
                border-radius: 50%;
                background-color: $secondary
            }
            span {
                color: $secondary;
            }

            @media (max-width: $container-md - 1) {
                font-size: 16px;
            }
        }
        &-wrapper {
            display: flex;
            align-items: center;
            max-width: 834px;
            margin: 0 auto;
            gap: 40px;
            @media (max-width: $container-md - 1) {
                align-items: flex-start;
                flex-direction: column;
                gap: 16px;
            }
        }
    }
    @media (max-width: $container-md - 1) {
        br {
            display: none;
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 90px;
        border-radius: 25px;
        flex-shrink: 0;
        @media (max-width: $container-md - 1) {
            width: 70px;
            height: 70px;
        }

    }
}

.gra-section-4 {
    padding: 70px 0;
    background-color: #F0F0F0;
    color: $primary-dk-1;
    @media (max-width: $container-md - 1) {
        padding: 24px 0;
    }
    &__title {
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 1.125;
        @media (max-width: $container-md - 1) {
            margin-bottom: 12px;
            font-size: 30px;
            text-align: center;
        }
    }
    &__subtitle {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 1.2;
        @media (max-width: $container-md - 1) {
            font-size: 16px;
            text-align: center;
        }
    }
    &__items {
        display: flex;
        text-align: center;
        justify-content: space-between;
        list-style: none;
        margin-top: 63px;
        margin-bottom: 42px;
        @media (max-width: $container-md - 1) {
            flex-wrap: wrap;
            justify-content: center;
            // gap: 32px;
            margin: 16px -12px;
            row-gap: 24px;
        }
    }
    &__arrow {
        display: none;
        @media (min-width: $container-md) {
            display: block;
            width: 64px;
            height: 64px;
            background-image: url(../images/icons/arrow-right-dk.svg);
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 32px;
        }
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:first-child::after {
            display: none;
        }
        @media (min-width: $container-md) {
            &:first-child {
                max-width: 129px;
            }
            &:nth-child(3) {
                max-width: 244px;
            }
            &:nth-child(5) {
                max-width: 263px;
            }
            &:last-child {
                max-width: 255px;
            }
        }

        @media (max-width: $container-md - 1) {
            max-width: none;
            width: 50%;
            padding: 0 12px;
        }

        @media (max-width: 400px) {
            width: 100%;
        }

        @media (max-width: $container-md - 1) {
            margin: 0 auto;
        }

        &-ordem {
            $size: 120px;
            width: $size;
            height: $size;
            line-height: $size;
            border-radius: 50%;
            color: $primary;
            font-size: 40px;
            @media (max-width: $container-md - 1) {
                $size: 60px;
                width: $size;
                height: $size;
                line-height: $size;
                font-size: 30px;
            }
        }
        &-texto {
            margin-top: 25px;
            font-size: 18px;
            line-height: 1.22;
            font-weight: 400;
            @media (max-width: $container-md - 1) {
                margin-top: 12px;
                font-size: 16px;
            }
            
        }
        &.yellow {
            .gra-section-4__item-ordem {
                background-color: $secondary;
            }
        }
        &.green {
            .gra-section-4__item-ordem {
                color: #fff;
                background-color: $primary;
            }
        }

    }
    @media (max-width: $container-md - 1) {
        .gra-btn-link {
            margin-top: 25px;
        }
    }
}


.gra-section-5 {
    padding: 70px 0 100px;
    @media (max-width: $container-md - 1) {
        padding: 24px 0;
    }
    &__title {
        font-size: 40px;
        line-height: 1.125;
        font-weight: 500;
        color: $primary;
        @media (max-width: $container-md - 1) {
            font-size: 24px;
        }
    }
    .gra-separator {
        @media (min-width: $container-md) {
            margin: 60px 0;
        }
    }
}


.gra-contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 20px;
    @media (max-width: $container-md - 1) {
        display: flex;
        flex-direction: column;
        column-gap: 16px;
        row-gap: 24px;
    }
    br {
        display: none;
    }
    &__field {
        &.full {
            grid-column: span 2;
        }
    }
    input, select, textarea {
        display: block;
        width: 100%;
        padding: 13px 63px;
        height: 70px;
        border-radius: 25px;
        border: 1px solid $primary;
        color: $primary;
        background-color: rgba(0,0,0,0);
        @media (max-width: $container-md - 1) {
            padding: 13px;
            height: auto;
            max-height: 150px;
        }
    }
    
    label > span {
        display: block;
        margin-bottom: 5px;
        font-weight: 400;
        @media (max-width: $container-md - 1) {
            font-size: 14px;
        }
    }

    textarea {
        height: auto;
    }

    input[type="submit"] {
        background-color: $primary;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
}

.screen-reader-response {
    display: none;
}

.wpcf7-not-valid-tip {
    color: red;
}

.wpcf7-response-output {
    margin-top: 10px;
    font-size: 18px;
    color: red;
}