@import './variables.scss';

.gra-tag {
    padding: 6px 30px;
    border-radius: 100px;
    line-height: 36px;
    font-weight: 500;
    background-color: $secondary;
    color: $primary-dk-1;
    @media (max-width: $container-md - 1) {
        padding: 10px 20px;
        font-size: 10px;
        line-height: 1;
    }
}

.gra-section__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gra-section-1 {
    padding-top: 79px;
    @media (max-width: $container-md - 1) {
        padding-top: 0;
        margin-bottom: 53px;
        + .gra-container {
            display: none;
        }
    }
    .gra-container {
        display: flex;
        align-items: flex-start;
        gap: 53px;
        @media (max-width: $container-md - 1) {
            flex-direction: column-reverse;
            padding: 0;
            gap: 42px;
        }
    }
    h2, h3 {
        font-weight: 400;
    }
    h2 {
        margin-top: 28px;
        font-size: 60px;
        line-height: 1;
        color: $primary;
        @media (max-width: $container-md - 1) {
            margin-top: 17px;
            font-size: 30px;
        }
    }
    h3 {
        max-width: 530px;
        margin-top: 30px;
        font-size: 24px;
        line-height: 1.4;
        color: $primary;
        @media (max-width: $container-md - 1) {
            font-size: 16px;
            margin-top: 16px;
        }

        p b {
            font-weight: 600;
        }
    }
    .gra-section__left {
        max-width: 583px;
        @media (max-width: $container-md - 1) {
            padding: 0 26px;
            margin: 0 auto;
        }
    }
    .gra-btn-link {
        margin-top: 63px;
        font-size: 22px;
        @media (max-width: $container-md - 1) {
            margin-top: 24px;
            font-size: 13px;
        }
    }

    @media (max-width: $container-md - 1) {
        max-width: 100%;
        .gra-section__right {
            width: 100%;
            height: 200px;
            position: relative;
            overflow: hidden;
            img {
                position: absolute;
                top: 48%;
                left: 50%;
                transform: translate3d(-50%, -50%, 0);
            }
        }
    }
}

.gra-section-2 {
    position: relative;
    &__wrapper {
        display: flex;
        align-items: center;
        height: 483px;
        background-image: url(../images/home/section-2.png);
        background-repeat: no-repeat;
        @media (max-width: $container-md - 1) {
            flex-direction: column;
            align-items: flex-end;
            background-repeat: no-repeat;
            background-position: top center;
            padding: 50px 24px 0 24px;
            height: 496px;
            width: 100%;
            max-width: 363px;
            margin: 0 auto;
        }
    }
    &__content {
        max-width: 393px;
        margin-left: auto;
        margin-right: 85px;
        @media (max-width: $container-md - 1) {
            max-width: 100%;
            width: 100%;
            text-align: center;
        }
        &-title {
            max-width: 366px;
            font-size: 40px;
            line-height: 1.125;
            font-weight: 500;
            color: $primary;
            @media (max-width: $container-md - 1) {
                max-width: 243px;
                margin-left: auto;
                font-size: 24px;
                text-align: right;
            }
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 5px;
                margin-top: 30px;
                border-radius: 10px;
                background-color: $primary;
                @media (max-width: $container-md - 1) {
                    margin-top: 24px;
                    margin-left: auto;
                }
            }
        }
        ul {
            margin: 30px 0 30px 30px;
            font-size: 18px;
            line-height: 1.3334;
            font-weight: 500;
            color: $primary-dk-1;
            @media (max-width: $container-md - 1) {
                display: flex;
                flex-direction: column;
                gap: 10px;
                max-width: 157px;
                margin-left: auto;
                margin-top: 24px;
                font-size: 14px;
                text-align: right;
            }
            list-style: none;
            li::before {
                content: "";
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background: $primary-dk-1;
                margin-right: .5rem;
                vertical-align: middle;
            }
        }
        @media (max-width: $container-md - 1) {
            margin: 0;
        }
    }
    @media (max-width: $container-md - 1) {
        padding-bottom: 24px;
        .gra-btn-link.green {
            background-color: $secondary;
            color: $primary;
            span {
                background-color: $primary;
            }
        }
    }
}

.gra-section-3 {
    height: 904px;
    margin-top: -241px;
    background-image: linear-gradient(to right, darken($primary, 2.5%), $primary);
    @media (max-width: $container-md - 1) {
        margin-top: -90px;
        height: auto;
    }
    &__bg {
        padding-top: 338px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../images/home/section-2-bg.png);
        background-repeat: no-repeat;
        background-position: top right;
        @media (max-width: $container-md - 1) {
            padding: 122px 0 68px;
        }
    }
    &__title {
        color: #fff;
        font-size: 40px;
        line-height: 1;
        margin-bottom: 38px;
        @media (max-width: $container-md - 1) {
            font-size: 30px;
            margin-bottom: 33px;
        }
        &::after {
            content: '';
            display: block;
            width: 100px;
            height: 5px;
            margin-top: 30px;
            border-radius: 10px;
            background-color: $secondary;
            @media (max-width: $container-md - 1) {
                margin-top: 16px;
            }
        }
    }
    &__content {
        display: flex;
        gap: 40px;
        @media (max-width: $container-md - 1) {
            flex-direction: column;
            gap: 33px
        }
        &-icon {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 18px;
            @media (max-width: $container-md - 1) {
                margin-right: 20px;
            }
        }
        &-title {
            margin: 31px 0 27px;
            font-size: 26px;
            color: inherit;
            @media (max-width: $container-md - 1) {
                margin: 16px 0 0;
                font-size: 24px;
            }
        }
        &-text {
            font-size: 14px;
            line-height: 1.715;
            color: inherit;
            @media (max-width: $container-md - 1) {
                flex-basis: 100%;
                margin-top: 25px;
            }
        }
        &-block {
            display: flex;
            flex-direction: column;
            padding: 44px 50px 35px;
            flex: 1;
            border-radius: 50px;
            @media (max-width: $container-md - 1) {
                padding: 46px 55px 30px 56px;
                flex-direction: row;
                flex-wrap: wrap;
            }
            &.white {
                background-color: #fff;
                color: $primary;
                .gra-section-3__content-icon {
                    // back
                    background-color: $primary-dk-1;
                }
            }
            &.green {
                background-color: $primary-dk-1;
                color: #fff;
                .gra-section-3__content-icon {
                    background-color: $secondary;
                }
            }
        }
    }
}

.gra-section-4 {
    margin-top: 86px;
    margin-bottom: 86px;
    @media (max-width: $container-md - 1) {
        margin: 24px 0
    }
    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        @media (max-width: $container-md - 1) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 32px;
        }
        &-block {
            display: flex;
            flex-direction: column;
            max-width: 350px;
            flex: 1;
            @media (max-width: $container-md - 1) {
                flex-direction: row;
                gap: 20px;
                align-items: center;
                text-align: left;
            }
        }
        p {
            max-width: 274px;
            margin: 0 auto;
            font-size: 26px;
            @media (max-width: $container-md - 1) {
                font-size: 20px;
            }
        }
        &-icon {
            width: 100px;
            height: 100px;
            background-color: $primary-dk-1;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 40px;
            flex-shrink: 0;
            @media (max-width: $container-md - 1) {
                margin: 0;
                width: 60px;
                height: 60px;
            }
        }
    }
}

.gra-section-5 {
    // background-color: $secondary;
    height: 646px;
    margin-bottom: 54px;
    color: $primary-dk-1;
    @media (max-width: $container-md - 1) {
        height: auto;
        overflow: hidden;
    }
    .gra-container {
        position: relative;
        height: 100%;
        padding-top: 54px;
        @media (max-width: $container-md - 1) {
            padding: 67px 24px;
        }
    }
    &__map {
        // display: none;
        position: absolute;
        width: 360px;
        height: 376px;
        position: absolute;
        top: 0;
        left: 90px;
        background-size: contain;
        background-repeat: no-repeat;
        @media (max-width: 450px) {
            width: 360px;
            height: 326px;
            position: absolute;
            top: 40px;
            left: 110px;
        }
        @media (max-width: 428px) {
            top: 50px;
            left: 100px;
        }
        @media (max-width: 414px) {
            width: 360px;
            height: 226px;
            top: 120px;
            left: 155px;
        }
        @media (max-width: 379px) {
            width: 360px;
            height: 246px;
            top: 60px;
            left: 108px;
        }
        @media (min-width: $container-md) {
            right: 71px;
            left: unset;
            display: block;
            width: 620px;
            height: 100%;
            background-position: top right;
            z-index: 1;
        }
    }
    &__content {
        min-height: 537px;
        border-radius: 50px;
        padding: 89px 100px 43px;
        background-color: $secondary;
        @media (max-width: $container-md - 1) {
            min-height: auto;
            padding: 121px 16px 39px 42px;
            border-radius: 16px;
        }
        &-title {
            margin-bottom: 30px;
            font-size: 40px;
            line-height: 1.125;
            font-weight: 500;
            @media (max-width: $container-md - 1) {
                margin-bottom: 24px;
                font-size: 30px;
                max-width: 123px;            
            }
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 5px;
                margin-top: 30px;
                border-radius: 10px;
                background-color: $primary;
                @media (max-width: $container-md - 1) {
                    margin-top: 24px;
                }
            }
        }
        p + p {
            max-width: 200px;
        }
        p + p, ul {
            font-size: 20px;
            line-height: 1.5;
            @media (max-width: $container-md - 1) {
                font-size: 14px;
            }
        }
        ul {
            margin-top: 30px;
            margin-left: 20px;
            @media (max-width: $container-md - 1) {
                margin-top: 16px;
            }
            span {
                font-weight: 500;
            }
            b {
                font-weight: 500;
            }
        }
    }
}

.gra-section-6 {
    padding: 75px 0;
    background-color: #F0F0F0;
    @media (max-width: $container-md - 1) {
        padding: 32px 0;
    }
    &__content {
        &-title {
            text-align: center;
            font-size: 40px;
            line-height: 1.125;
            @media (max-width: $container-md - 1) {
                text-align: left;
                font-size: 24px;
            }
        }
        &-imgs {
            display: flex;
            margin: 71px 0 51px;
            gap: 41px;
            text-align: center;
            flex-wrap: wrap;
            @media (max-width: $container-md - 1) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 24px 0;
                gap: 22px;
            }
        }
        &-img {
            position: relative;
            flex-shrink: 0;
            max-width: 269px;
            
            display: flex;
            align-items: center;
            text-align: left;
            gap: 20px;
            @media (max-width: $container-md - 1) {
                max-width: 363px;
            }
            img {
                max-width: 173px;
            }
            @media (min-width: $container-md) {
                display: block;
                text-align: center;
                img {
                    max-width: 270px;
                }
            }
            &:last-child::after {
                display: none !important;
            }
            &::after {
                content: '';
                position: absolute;
                top: 140px;
                right: -52px;
                width: 63px;
                height: 63px;
                border-radius: 63px;
                background-color: $secondary;
                background-image: url(../images/icons/arrow-right-dk.svg);
                background-repeat: no-repeat;
                background-position: center;
                z-index: 1;
                @media (max-width: $container-md - 1) {
                    transform: rotate(90deg);
                    width: 50px;
                    height: 50px;
                    right: unset;
                    left: 62px;
                    top: 196px;
                }
            }
        }
        &-text {
            margin-top: 28px;
            font-size: 19px;
            @media (max-width: $container-md - 1) {
                margin-top: 16px;
                font-size: 18px;
                line-height: 24px;
                margin: 0;
            }
        }
    }
}

.gra-section-7 {
    padding: 68px 0 100px;
    @media (max-width: $container-md - 1) {
        padding: 32px 0;
    }
    @media (min-width: $container-md) {
        .gra-separator {
            margin: 52px 0;
            
        }
    }
    &__title {
        font-size: 40px;
        line-height: 1.25;
        @media (max-width: $container-md - 1) {
            font-size: 24px;
        }
    }

    details {
        min-height: 70px;
        padding: 13px 70px;
        border-radius: 25px;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        background-color: #f0f0f0;
        color: #888888;
        @media (max-width: $container-md - 1) {
            padding: 12px 24px;
            margin-bottom: 12px;
            min-height: auto;
        }
        &:last-child {
            margin-bottom: 0;
        }
        summary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            line-height: 45px;
            font-weight: 500;
            color: $primary;
            @media (max-width: $container-md - 1) {
                line-height: 24px;
            }
            &::after {
                content: '';
                display: inline-block;
                width: 24px;
                height: 14px;
                background-image: url(../images/icons/chevron-down3.svg);
                background-repeat: no-repeat;
                background-position: center right;
                z-index: 1;
                position: relative;
                flex-shrink: 0;
            }
        }
        &[open] {
            summary {
                &::after {
                    transform: scaleY(-1);
                }
            }
        }
    }

    .gra-btn {
        display: inline-flex;
        align-items: center;
        color: $primary;
        background: 0;
        gap: 14px;
        font-size: 20px;
        font-weight: 500;
        &.gra-active {
            .gra-btn-faq-more {
                display: none;
            }
            .gra-btn-faq-less {
                display: inline !important;
            }
            img {
                transform: scaleY(-1);
            }
        }
    }
}

details > summary {
    list-style: none;
  }