@import './variables.scss';

body, html {
    padding: 0;
    height: 100vh;
}

.gra-header {
    position: static;
}

@media (min-width: $container-md) {
    .gra-header {
        display: none
    }
}

.gra-step-form {
    height: 100%;
    &__wrapper {
        display: flex;
        height: 100%;
        @media (max-width: $container-md - 1) {
            flex-direction: column;
            height: auto;
        }
    }
    &__side {
        position: relative;
        width: 583px;
        background-color: $primary;
        height: 100%;
        @media (max-width: 1368px) {
            width: 490px;
        }
        @media (max-width: $container-md - 1) {
            width: 100%;
        }
        [step-side] {
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            @media (max-width: $container-md - 1) {
                display: none;
            }
        }
        &-logo {
            position: absolute;
            top: 16px;
            left: 120px;
            @media (max-width: $container-md - 1) {
                display: none;
            }
        }
        .gra-step-item {
            position: relative;
            padding-left: 50px;
            height: 142px;
            font-size: 16px;
            span {
                font-size: 22px;
                font-weight: 500;
            }
            ~ .gra-step-item {
                margin-top: -8px;
            }
            &:last-child {
                height: auto;
            }
            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: 0;
                display: inline-block;
                width: 29px;
                height: 29px;
                background-image: url(../images/icons/quero-economizar/circle.svg);
                background-repeat: no-repeat;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 14px;
                top: 36px;
                height: calc(100% - 36px);
                width: 2px;
                background-color: #fff;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
        [step-side="2"] {
            padding: 172px 44px 0 134px;
            color: #fff;
            @media (max-width: 1368px) {
                padding-left: 100px;
            }
            &[step-side-inner="1"] {
                .gra-step-item:first-child {
                    &::before {
                        background-image: url(../images/icons/quero-economizar/circle-check.svg);
                    }
                    &::after {
                        background-color: $secondary;
                    }
                }
            }
            &[step-side-inner="2"] {
                .gra-step-item:nth-child(1), .gra-step-item:nth-child(2) {
                    &::before {
                        background-image: url(../images/icons/quero-economizar/circle-check.svg);
                    }
                    &::after {
                        background-color: $secondary;
                    }
                }
            }
            &[step-side-inner="3"] {
                .gra-step-item:nth-child(1), .gra-step-item:nth-child(2), .gra-step-item:nth-child(3) {
                    &::before {
                        background-image: url(../images/icons/quero-economizar/circle-check.svg);
                    }
                    &::after {
                        background-color: $secondary;
                    }
                }
            }
        }
    }
    &__content {
        flex: 1;
        background-color: #fff;
        height: 100%;
        overflow: auto;
        border-radius: 50px 0 0 0;
        margin-left: -50px;
        @media (max-width: $container-md - 1) {
            border-radius: 0;
            margin: 0;
        }
        &-inner {
            .gra-step-footer {
                display: flex;
                align-items: center;
                padding-top: 90px;
                padding-bottom: 30px;
                &__text {
                    flex: 1;
                    max-width: 484px;
                    margin-right: auto;
                    font-size: 10px;
                    color: $primary-dk-1;
                    line-height: 1.5;
                    a {
                        color: #10866D;
                        text-decoration: underline;
                    }
                }
                &__links {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 10px;
                    a {
                        text-decoration: underline;
                        font-size: 14px;
                        font-weight: 500;
                        color: $primary-dk-1;
                        line-height: 1.1;
                    }
                }
            }
            max-width: 683px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            &[step="1"] {
                padding: 80px 0;
                @media (max-width: 1280px) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
                .gra-title {
                    max-width: 506px;
                    font-size: 35px;
                    font-weight: 600;
                    color: $primary;
                    line-height: 1.14;
                    &::after {
                        content: '';
                        display: block;
                        width: 100px;
                        height: 5px;
                        margin-top: 30px;
                        border-radius: 10px;
                        background-color: $primary;
                        @media (max-width: $container-md - 1) {
                            margin-top: 16px;
                        }
                    }
                }
                .gra-subtitle {
                    margin-top: 30px;
                    strong, b {
                        font-weight: 600;
                    }
                }
                .gra-content {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    gap: 20px;
                    padding-top: 44px;
                    margin-top: 44px;
                    border-top: 1px solid #AFAFAF;
                    margin-bottom: 44px;
                }
                .gra-btn-option {
                    display: block;
                    width: 100%;
                    padding: 10px 43px;
                    border-radius: 20px;
                    font-size: 16px;
                    line-height: 3;
                    font-weight: 400;
                    color: #000;
                    border: 1px solid #C1C1C1;
                    background-color: #fff;
                    text-align: left;
                    transition: .3s all;
                    @media (max-width: $container-md - 1) {
                        padding: 13px 33px;
                        line-height: 1.25;
                    }
                    
                    &:hover, &:focus {
                        background-color: #F5F5F5;
                    }
                    &.active, &:hover {
                        padding-left: 70px;
                        @media (max-width: $container-md - 1) {
                            padding-left: 60px;
                        }
                    }
                    &.active {
                        background-color: #F5F5F5;
                        box-shadow: 0 0 1px 1px #064A3C;
                    }
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        background-image: url(../images/icons/chevron-down5.svg);
                        background-repeat: no-repeat;
                        background-position: center;
                        transform: rotate(-90deg);
                        vertical-align: -3px;
                        background-size: 14px;
                    }
                }
            }
            &[step="2"], &[step="3"], &[step="4"], &[step="5"], &[step="6"] {
                .gra-separator {
                    margin: 40px 0;
                    background-color: #AFAFAF;
                }
                padding: 74px 0 0;
                @media (max-width: 1280px) {
                    padding-left: 40px;
                    padding-right: 40px;
                }
                .gra-title {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 1.16;
                    color: $primary;
                    &::after {
                        content: '';
                        display: block;
                        width: 100px;
                        height: 5px;
                        margin-top: 30px;
                        border-radius: 10px;
                        background-color: $primary;
                        @media (max-width: $container-md - 1) {
                            margin-top: 16px;
                        }
                    }
                }
            }
            &[step="2"], &[step="4"], &[step="6"] {
                .gra-content {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -10px 45px;
                    row-gap: 20px;
                }
                .gra-col-resend-code {
                    font-size: 16px;
                    line-height: 1.5;
                    text-decoration: underline;
                    color: $primary;
                }
                .gra-col {
                    position: relative;
                    padding: 0 10px;
                    width: 100%;
                    &--half {
                        width: 50%;
                    }
                    .gra-tooltip-icon {
                        position: absolute;
                        top: 27px;
                        right: 40px;
                        width: 15px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-position: center;
                        &--info {
                            background-image: url(../images/icons/quero-economizar/info-circle.svg);
                        }
                        &--lock {
                            background-image: url(../images/icons/quero-economizar/lock.svg);
                        }
                        &--clip {
                            background-image: url(../images/icons/quero-economizar/paperclip-2.svg);
                        }
                        &:hover {
                            + .gra-tooltip {
                                display: block;
                            }
                        }
                    }
                    .gra-tooltip {
                        position: absolute;
                        top: 60px;
                        left: 50%;
                        display: none;
                        padding: 20px;
                        border-radius: 20px;
                        font-size: 12px;
                        color: #fff;
                        background-color: #373737;
                        z-index: 1;
                        &::before {
                            content: '';
                            position: absolute;
                            top: -30px;
                            right: 27px;
                            margin-left: -20px;
                            border: 20px solid #373737;
                            border-right-color: transparent;
                            border-left-color: transparent;
                            border-top-color: transparent;
                            z-index: 1;
                        }
                    }
                }
                input {
                    display: block;
                    width: 100%;
                    padding: 20px 43px 0;
                    border-radius: 20px;
                    font-size: 16px;
                    line-height: 3;
                    font-weight: 400;
                    color: $primary;
                    border: 1px solid #C1C1C1;
                    background-color: #fff;
                    text-align: left;
                    transition: .3s padding-left;
                    font-weight: 500;
                    &[type="file"] {
                        padding: 10px 43px;
                    }
                    &:hover, &:focus {
                        background-color: #F5F5F5;
                    }
                    &::placeholder {
                        font-weight: 500;
                        color: $primary;
                    }
                    &[disabled] {
                        background-color: #F5F5F5;
                    }
                    &.gra-error {
                        border-color: red;
                    }
                }
            }
            &[step="6"] {
                .gra-subtitle {
                    margin-top: 30px;
                    strong, b {
                        font-weight: 600;
                    }
                }
            }
            &[step="3"] {
                .gra-separator {
                    margin-top: 30px;
                    margin-bottom: 30px;
                }
                .gra-info-header-top {
                    display: flex;
                    margin-top: 25px;
                    gap: 30px;
                    .gra-info-header {
                        font-size: 16px;
                        img {
                            margin-right: 10px;
                        }
                    }
                    &2 {
                        display: flex;
                        gap: 30px;
                        margin-top: 5px;
                        font-size: 14px;
                    }
                }
                .gra-texto-extra {
                    margin-top: 30px;
                    margin-bottom: 47px;
                    font-size: 12px;
                    line-height: 1.25;
                    font-weight: 500;
                }
            }
            &[step="7"] {
                .gra-title {
                    max-width: 300px;
                    font-size: 35px;
                    font-weight: 600;
                    line-height: 1.14;
                    color: $primary;
                    &::after {
                        content: '';
                        display: block;
                        width: 100px;
                        height: 5px;
                        margin-top: 30px;
                        border-radius: 10px;
                        background-color: $primary;
                        @media (max-width: $container-md - 1) {
                            margin-top: 16px;
                        }
                    }
                }
                .gra-subtitle {
                    max-width: 482px;
                    margin: 30px 0;
                    font-size: 15px;
                    line-height: 1.6;
                    color: $primary;
                }
                .gra-content {
                    padding-top: 125px;
                }
                .gra-step-icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 73px;
                    height: 73px;
                    margin-bottom: 30px;
                    background-color: $secondary;
                    border-radius: 20px;
                }

                .gra-step-footer {
                    max-width: 428px;
                    justify-content: flex-end;
                }
            }
            &[step="8"] {
                .gra-title {
                    max-width: 625px;
                    font-size: 35px;
                    font-weight: 600;
                    line-height: 1.14;
                    color: $primary;
                    &::after {
                        content: '';
                        display: block;
                        width: 100px;
                        height: 5px;
                        margin-top: 30px;
                        border-radius: 10px;
                        background-color: $primary;
                        @media (max-width: $container-md - 1) {
                            margin-top: 16px;
                        }
                    }
                }
                .gra-subtitle {
                    max-width: 450px;
                    margin: 30px 0;
                    font-size: 16px;
                    line-height: 1.5;
                    color: $primary;
                }
                .gra-content {
                    padding-top: 125px;
                }
                .gra-step-icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 73px;
                    height: 73px;
                    margin-bottom: 30px;
                    background-color: $secondary;
                    border-radius: 20px;
                }

                .gra-link {
                    display: flex;
                    align-items: center;                
                    font-size: 16px;
                    line-height: 1.5;
                    color: $primary;
                }

                .gra-link-icon {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 33px;
                    height: 33px;
                    margin-right: 20px;
                    font-weight: 500;
                    border-radius: 50%;
                    background-color: $primary;
                }
            }
            label {
                position: absolute;
                left: 54px;
                top: 12px;
                font-weight: 500;
                color: $primary;
            }

            @media (max-width: $container-md - 1) {
                padding: 22px !important;
            }
        }
        .gra-planos {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__item {
                max-width: 205px;
                height: 251px;
                width: 100%;
                padding: 20px 10px;
                border-radius: 25px;
                text-align: center;
                cursor: pointer;
                transition: .3s all;
                display: flex;
                flex-direction: column;
                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 100%;
                }
                &:hover, &.active {
                    transform: translateY(-8px);
                    box-shadow: 0 0 10px 1px #064A3C;
                }
                &.green {
                    color: #fff;
                    background-color: $primary-dk-1;
                    .gra-planos__item-desconto {
                        background-color: $primary;
                    }
                }
                &.yellow {
                    background-color: $secondary;
                    .gra-planos__item-desconto {
                        background-color: #FFEEBF;
                    }
                }
                &.gray {
                    background-color: #F0F0F0;
                    .gra-planos__item-desconto {
                        background-color: #fff;
                    }
                }
                position: relative;
                &-title {
                    max-width: 122px;
                    margin: 0 auto;
                    font-size: 12px;
                    font-weight: 500;
                }
                &-desconto {
                    position: absolute;
                    top: 55px;
                    width: 185px;
                    padding: 20px;
                    margin: 20px 0;
                    border-radius: 20px;
                    font-size: 20px;
                    line-height: 22px;
                    font-weight: 500;
                    b {
                        font-weight: 600;
                    }
                }
                &-valor {
                    font-size: 14px;
                    b {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
            }

            &.gra-item-active {
                .gra-planos__item:not(.active) {
                    opacity: .5;
                    &:hover {
                        transform: none;
                        box-shadow: none;
                        opacity: 1;
                    }
                }
            }
        }
        .gra-btns-footer {
            display: flex;
            justify-content: space-between;
        }
    }
}


.gra-error-msg {
    padding: 4px 10px 0;
    color: red;
    font-size: 12px;
}

.gra-popup {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $primary;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    &__info {
        position: relative;
        max-width: 645px;
        padding: 43px 22px 43px 43px;
        background-color: #fff;
        border-radius: 20px;
        @media (max-width: 700px) {
            max-width: 90%;
        }
        &-title {
            font-size: 24px;
            font-weight: 500;
            line-height: 1.16;
            &::after {
                content: '';
                display: block;
                width: 100px;
                height: 5px;
                margin-top: 30px;
                border-radius: 10px;
                background-color: $primary;
                @media (max-width: $container-md - 1) {
                    margin-top: 16px;
                }
            }
        }
        &-text {
            margin-top: 25px;
            font-size: 21px;
            font-weight: 500;
            line-height: 1.33;
        }
        &-close {
            position: absolute;
            top: 22px;
            right: 22px;
            width: 55px;
            height: 55px;
            background-image: url(../images/quero-economizar/close.svg);
            background-repeat: no-repeat;
        }
    }
}



@media (max-width: $container-md - 1) {
    .gra-title {
        font-size: 30px;
        line-height: 1.16;
    }
    
    .gra-subtitle {
        margin-top: 16px !important;
    }
    
    .gra-content {
        padding-top: 22px !important;
        margin-top: 22px !important;
        margin-bottom: 22px !important;
    }
    .gra-step-form__content-inner .gra-step-footer {
        padding-top: 35px;
        padding-bottom: 18px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .gra-step-form__content-inner .gra-step-footer__links {
        flex-direction: row;
        margin-bottom: 10px;
    }

    body {
        border-bottom: 8px solid $secondary;
    }

    .gra-step-form__content-inner[step="2"] .gra-separator, .gra-step-form__content-inner[step="3"] .gra-separator, .gra-step-form__content-inner[step="4"] .gra-separator, .gra-step-form__content-inner[step="5"] .gra-separator, .gra-step-form__content-inner[step="6"] .gra-separator {
        margin: 22px 0 0;
        + .gra-content {
            padding-top: 0 !important
        }
    }

    .gra-step-form__content-inner[step="2"] .gra-col--half, .gra-step-form__content-inner[step="4"] .gra-col--half, .gra-step-form__content-inner[step="6"] .gra-col--half {
        width: 100%;
    }

    .gra-step-form__content-inner[step="2"] input, .gra-step-form__content-inner[step="4"] input, .gra-step-form__content-inner[step="6"] input {
        padding: 20px 20px 0;
    }

    .gra-step-form__content-inner label {
        position: absolute;
        left: 0;
        top: 12px;
        font-weight: 500;
        font-size: 12px;
        width: 100%;
        padding-left: 30px;
        padding-right: 10px;
        &.gra-label-small {
            font-size: 11px;
        }
    }

    .gra-step-form__content-inner[step="2"] .gra-col .gra-tooltip-icon, .gra-step-form__content-inner[step="4"] .gra-col .gra-tooltip-icon, .gra-step-form__content-inner[step="6"] .gra-col .gra-tooltip-icon {
        top: 15px;
        right: 29px;
    }
    .gra-step-form__content-inner[step="2"] .gra-col .gra-tooltip, .gra-step-form__content-inner[step="4"] .gra-col .gra-tooltip, .gra-step-form__content-inner[step="6"] .gra-col .gra-tooltip {
        top: 45px;
        left: 60%;
        padding: 12px;
    }
    .gra-step-form__content-inner[step="2"] .gra-col .gra-tooltip::before, .gra-step-form__content-inner[step="4"] .gra-col .gra-tooltip::before, .gra-step-form__content-inner[step="6"] .gra-col .gra-tooltip::before {
        right: 17px;
    }
    .gra-step-form__content-inner[step="3"] .gra-info-header-top {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .gra-step-form__content .gra-planos {
        flex-direction: column;
        gap: 22px;
        padding-top: 22px;
    }
    .gra-step-form__content .gra-planos__item {
        max-width: 364px;
        flex-direction: row;
        height: 150px;
    }

    .gra-step-form__content .gra-planos__item-desconto {
        position: static;
        width: 169px;
    }
}