$primary: #064A3C;
$primary-dk-1: #002E25;
$primary-dk-2: #00130F;
$secondary: #FECD45;

$gutter: 10px;

$container-lg: 1200px + ($gutter * 2);
$container-md: 992px + ($gutter * 2);
$container-sm: 768px + ($gutter * 2);
$container-xs: 576px + ($gutter * 2);