$primary: #064A3C;
$primary-dk-1: #072e25;
$primary-dk-2: #02130f;
$secondary: #FECD45;

$gutter: 10px;
$gutterMobile: 24px;

$container-lg: 1200px + ($gutter * 2);
$container-md: 992px + ($gutter * 2);
$container-sm: 768px + ($gutter * 2);
$container-xs: 576px + ($gutter * 2);